.age-check-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 81%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .age-check-modal {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px; /* Increase max-width for larger screens */
    width: 90%; /* Set width to 90% for smaller screens */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .age-check-logo {
    max-width: 200px; /* Set the desired logo width */
    margin-bottom: 1rem;
  }
  
  .age-check-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
  }
  
  .age-check-buttons button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: var(--btn-transition);
  }
  
  .age-check-buttons button:hover {
    background-color: #333;
    transform: scale(1.1);
  }
  
  /* Media queries */
  @media screen and (max-width: 768px) {
    .age-check-modal {
      max-width: 90%;
      padding: 1.5rem;
    }
  
    .age-check-logo {
      max-width: 150px;
    }
  }
  