* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 3rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.shopTitle {
  margin-top: 50px;
  text-align: center;
  font-size: 2.5rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  place-items: center;
  margin-top: 50px;
}

.product {
  border-radius: 15px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  transition: all 0.3s ease-in-out;
}

.product:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;
}

.product h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.product p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding: 10px;
  border-radius: 15px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .shopTitle {
    margin-top: 30px;
    font-size: 2rem;
  }

  .products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 30px;
  }

  .product {
    height: 350px;
    padding: 10px;
  }

  .product img {
    margin-bottom: 10px;
  }

  .product h3 {
    font-size: 1.2rem;
  }

  .product p {
    font-size: 1rem;
  }

 /* .addToCartBttn {
    min-width: 80px;
    padding: 8px;
    border-radius: 10px;
    font-size: 1rem;
  }
}
*/

.addToCartBttn {
  border: 2px solid #131313;
  /* border-radius: 15px; */
  cursor: pointer;
  /* font-size: 1.2rem; */
  /* font-weight: 700; */
  min-width: 100px;
  padding: 10px;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}
}